{
	"log": {
		"level": "info",
		"format": "json"
	},
	"servers": [
		{
			"host": "127.0.0.1",
			"port": 53,
			"default_upstream": "1.1.1.1",
			"internal": [
				{
					"regex": "mail.example.com",
					"A": "192.168.0.10",
					"AAAA": "2001:db8::1234:5678",
					"TXT": "omgyesitworked",
					"MX": "10 mailserver1.example.com.\n20 mailserver2.example.com."
				}
			],
			"upstreams": [
				{
					"regex": "local",
					"nxdomain": true
				},
				{
					"regex": ".*\\.example.com",
					"upstream": "8.8.8.8"
				},
				{
					"regex": ".*\\.localdomain",
					"upstream": "10.0.0.1"
				},
				{
					"regex": ".*\\.(office\\.lan|myoffice\\.com)",
					"upstream": "10.0.0.1"
				}
		}
	]
}
